.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color:aqua;
    font-family: cursive;
}

html {
    scroll-behavior: smooth;
}

#phy{
    border-radius: 20px;
    padding: 10px;
}
#p {
    margin: 10px;
}

#spc
{
    margin-left: 10px;
    margin-right: 10px;
}